.ui-badge
  min-width: 22px
  height: @min-width
  padding: 0 5px

  display: inline-block

  border-radius: (@height / 2)

  font-size: 10px
  line-height: @height
  text-align: center
  text-transform: uppercase

.ui-badge-rect
  border-radius: $borderRadiusM

.ui-badge-primary
  background: $colorAction
  color: $colorSnow00

  a&
    color: $colorSnow00

.ui-badge-secondary
  background: $colorBase
  color: $colorSnow00

  a&
    color: $colorSnow00

.ui-badge-signal
  background: $colorSignal
  color: $colorSnow00

  a&
    color: $colorSnow00

.ui-badge-blue
  background: $colorBlue85
  color: $colorSnow00

  a&
    color: $colorSnow00

.ui-badge-disabled
  background: $colorDark70
  color: $colorSnow00

  a&
    color: $colorSnow00
