.ui-input
  width: 100%
  height: 40px
  padding: 0 15px
  display: block

  font-size: $fontSizeM
  font-weight: $fontWeightM
  color: $colorDark

  border: 1px solid $colorDark20
  border-radius: $borderRadiusM

  background: $colorSnow40
  placeholder(color $colorDark70,) // @stylint ignore

  span&
    width: auto
    height: auto
    padding: 9px 15px
    color: $colorDark70
    word-wrap: break-word

  textarea&
    min-height: 80px
    padding: 9px 15px
    display: block
    overflow: hidden
    resize: none

.ui-input-error
  border-color: $colorSignal
