.ui-slide
  background: $colorSnow00
  border-radius: $borderRadiusM
  box-shadow: $shadowL

.ui-slide-header
  padding: 20px 10px
  color: $colorDark
  text-align: center
  text-transform: uppercase
  border-bottom: 2px solid

  i
    margin-right: $offsetSpace
    display: inline-block
    vertical-align: middle

    &:before
      vertical-align: top

.ui-slide-image
  display: block
  blockResponsive(75%)

  background-color: $colorSnow
  backgroundFill()

.ui-slide-content
  padding: 15px
  text-align: center
