@import "@fontsource/inter/100";
@import "@fontsource/inter/200";
@import "@fontsource/inter/300";
@import "@fontsource/inter/400";
@import "@fontsource/inter/500";
@import "@fontsource/inter/600";
@import "@fontsource/inter/700";
@import "@fontsource/inter/800";
@import "@fontsource/inter/900";
@import "vendor/nebenan-codes";

// temporary decache by hand until all projects are using webpack
@font-face {
  font-family: "nebenan_icons";
  src: url("./fonts/nebenan.woff2") format("woff2");
  font-display: block;
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  width: 1em;

  // stylelint-disable-next-line
  font-family: 'nebenan_icons';
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;

  text-align: center;

  // For safety - reset parent styles, that can break glyph codes
  font-variant: normal;
  text-transform: none;

  // fix buttons height, for twitter bootstrap
  line-height: 1em;

  // Font smoothing. That was taken from TWBS
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
