extends ./_layout

block body
  h2 Buttons

  div.preview-section
    ul
      li
        button.ui-button.ui-button-primary <button>
      li
        span.ui-button.ui-button-primary <span>
      li
        a(href="#").ui-button.ui-button-primary <a>
    ul
      li
        button.ui-button.ui-button-primary.ui-button-small <button>
      li
        span.ui-button.ui-button-primary.ui-button-small <span>
      li
        a(href="#").ui-button.ui-button-primary.ui-button-small <a>
    ul
      li
        button.ui-button.ui-button-primary.ui-button-small.ui-button-round <button>
      li
        span.ui-button.ui-button-primary.ui-button-small.ui-button-round <span>
      li
        a(href="#").ui-button.ui-button-primary.ui-button-small.ui-button-round <a>
    ul
      li
        button.ui-button.ui-button-primary(disabled) [disabled]
      li
        span.ui-button.ui-button-primary.is-disabled .disabled
      li
        a(href="#").ui-button.ui-button-primary.ui-button-wide .wide

  div.preview-section
    ul
      li
        button.ui-button.ui-button-secondary <button>
      li
        span.ui-button.ui-button-secondary <span>
      li
        a(href="#").ui-button.ui-button-secondary <a>
    ul
      li
        button.ui-button.ui-button-secondary.ui-button-round <button>
      li
        span.ui-button.ui-button-secondary.ui-button-round <span>
      li
        a(href="#").ui-button.ui-button-secondary.ui-button-round <a>
    ul
      li
        button.ui-button.ui-button-secondary.ui-button-small <button>
      li
        span.ui-button.ui-button-secondary.ui-button-small <span>
      li
        a(href="#").ui-button.ui-button-secondary.ui-button-small <a>
    ul
      li
        button.ui-button.ui-button-secondary(disabled) [disabled]
      li
        span.ui-button.ui-button-secondary.is-disabled .disabled
      li
        a(href="#").ui-button.ui-button-secondary.ui-button-wide .wide

  div.preview-section
    ul
      li
        button.ui-button.ui-button-danger <button>
      li
        span.ui-button.ui-button-danger <span>
      li
        a(href="#").ui-button.ui-button-danger <a>
    ul
      li
        button.ui-button.ui-button-danger.ui-button-small <button>
      li
        span.ui-button.ui-button-danger.ui-button-small <span>
      li
        a(href="#").ui-button.ui-button-danger.ui-button-small <a>
    ul
      li
        button.ui-button.ui-button-danger(disabled) [disabled]
      li
        span.ui-button.ui-button-danger.is-disabled .disabled
      li
        a(href="#").ui-button.ui-button-danger.ui-button-wide .wide
