extends ./_layout

block body
  +header('Buttons')

  .preview-section
    h2 Button colors

    ul
      li
        span.ui-button.ui-button-primary primary
      li
        span.ui-button.ui-button-danger danger
      li
        span.ui-button.ui-button-secondary secondary
      li
        span.ui-button.ui-button-tertiary tertiary
      li
        span.ui-button.ui-button-danger.is-disabled disabled

  .preview-section
    h2 Button sizes/styles

    ul
      li
        span.ui-button.ui-button-primary default
      li
        span.ui-button.ui-button-primary.ui-button-small small
      li
        span.ui-button.ui-button-primary.ui-button-narrow narrow
      li
        span.ui-button.ui-button-primary.ui-button-small.ui-button-narrow small + narrow
      li
        span.ui-button.ui-button-primary.ui-button-narrow
          i.icon-magnifier
      li
        span.ui-button.ui-button-primary.ui-button-small.ui-button-narrow
          i.icon-magnifier
      li
        span.ui-button.ui-button-primary.ui-button-round round
      li
        span.ui-button.ui-button-primary.ui-button-round.ui-button-small small + round

      li
        span.ui-button.ui-button-primary.ui-button-wide wide

  .preview-section
    h2 Elements test

    ul
      li
        button.ui-button.ui-button-primary &lt;button&gt;
      li
        span.ui-button.ui-button-primary &lt;span&gt;
      li
        a(href="javascript:void(0);").ui-button.ui-button-primary &lt;a&gt;
