extends ./_layout

block body
  +header('Buttons')

  .preview-section
    h2 Button styles

    ul
      li
        span.ui-button.ui-button-primary.ui-button-small.ui-button-narrow
          i.icon-magnifier
      li
        span.ui-button.ui-button-primary.ui-button-small &lt;small&gt;
      li
        span.ui-button.ui-button-primary &lt;regular&gt;
      li
        span.ui-button.ui-button-primary.ui-button-narrow
          i.icon-magnifier
      li
        span.ui-button.ui-button-primary.ui-button-round &lt;round&gt;
      li
        span.ui-button.ui-button-primary.is-disabled &lt;disabled&gt;
      li
        span.ui-button.ui-button-primary.ui-button-wide &lt;wide&gt;

    ul
      li
        span.ui-button.ui-button-secondary.ui-button-small.ui-button-narrow
          i.icon-magnifier
      li
        span.ui-button.ui-button-secondary.ui-button-small &lt;small&gt;
      li
        span.ui-button.ui-button-secondary &lt;regular&gt;
      li
        span.ui-button.ui-button-secondary.ui-button-narrow
          i.icon-magnifier
      li
        span.ui-button.ui-button-secondary.ui-button-round &lt;round&gt;
      li
        span.ui-button.ui-button-secondary.is-disabled &lt;disabled&gt;
      li
        span.ui-button.ui-button-secondary.ui-button-wide &lt;wide&gt;

    ul
      li
        span.ui-button.ui-button-tertiary.ui-button-small.ui-button-narrow
          i.icon-magnifier
      li
        span.ui-button.ui-button-tertiary.ui-button-small &lt;small&gt;
      li
        span.ui-button.ui-button-tertiary &lt;regular&gt;
      li
        span.ui-button.ui-button-tertiary.ui-button-narrow
          i.icon-magnifier
      li
        span.ui-button.ui-button-tertiary.ui-button-round &lt;round&gt;
      li
        span.ui-button.ui-button-tertiary.is-disabled &lt;disabled&gt;
      li
        span.ui-button.ui-button-tertiary.ui-button-wide &lt;wide&gt;

    ul
      li
        span.ui-button.ui-button-danger.ui-button-small.ui-button-narrow
          i.icon-magnifier
      li
        span.ui-button.ui-button-danger.ui-button-small &lt;small&gt;
      li
        span.ui-button.ui-button-danger &lt;regular&gt;
      li
        span.ui-button.ui-button-danger.ui-button-narrow
          i.icon-magnifier
      li
        span.ui-button.ui-button-danger.ui-button-round &lt;round&gt;
      li
        span.ui-button.ui-button-danger.is-disabled &lt;disabled&gt;
      li
        span.ui-button.ui-button-danger.ui-button-wide &lt;wide&gt;

  .preview-section
    h2 Elements test
    ul
      li
        button.ui-button.ui-button-primary &lt;button&gt;
      li
        span.ui-button.ui-button-primary &lt;span&gt;
      li
        a(href="#").ui-button.ui-button-primary &lt;a&gt;

    ul
      li
        button.ui-button.ui-button-secondary &lt;button&gt;
      li
        span.ui-button.ui-button-secondary &lt;span&gt;
      li
        a(href="#").ui-button.ui-button-secondary &lt;a&gt;

    ul
      li
        button.ui-button.ui-button-danger &lt;button&gt;
      li
        span.ui-button.ui-button-danger &lt;span&gt;
      li
        a(href="#").ui-button.ui-button-danger &lt;a&gt;
