extends ./_layout

block body
  +header('Colors')

  .preview-colors
    ul
      li.is-color-gray-00 gray-00
      li.is-color-gray-01 gray-01
      li.is-color-gray-02 gray-02
      li.is-color-gray-03 gray-03
      li.is-color-gray-04 gray-04
      li.is-color-gray-05 gray-05
      li.is-color-gray-06 gray-06
      li.is-color-gray-07 gray-07
      li.is-color-gray-08 gray-08
      li.is-color-gray-09 gray-09

    ul
      li.is-color-green-00 green-00
      li.is-color-green-01 green-01
      li.is-color-green-02 green-02
      li.is-color-green-03 green-03
      li.is-color-green-04 green-04
      li.is-color-green-05 green-05
      li.is-color-green-06 green-06

    ul
      li.is-color-blue-00 blue-00
      li.is-color-blue-01 blue-01
      li.is-color-blue-02 blue-02
      li.is-color-blue-03 blue-03

    ul
      li.is-color-base-00 base-00
      li.is-color-base-01 base-01
      li.is-color-base-02 base-02
      li.is-color-base-03 base-03
      li.is-color-base-04 base-04

    ul
      li.is-color-orange-00 orange-00
      li.is-color-orange-01 orange-01
      li.is-color-orange-02 orange-02
      li.is-color-orange-03 orange-03
      li.is-color-orange-04 orange-04

    ul
      li.is-color-yellow-00 yellow-00
      li.is-color-yellow-01 yellow-01
      li.is-color-yellow-02 yellow-02
      li.is-color-yellow-03 yellow-03

    ul
      li.is-color-red-00 red-00
      li.is-color-red-01 red-01
      li.is-color-red-02 red-02
      li.is-color-red-03 red-03

    ul
      li.is-color-purple-00 purple-00

    ul
      li.is-color-white-alpha white-alpha
      li.is-color-dark-alpha dark-alpha
      li.is-color-transparent transparent
