extends ./_layout

block body
  h2 Colors

  ul
    li.c-sandbox-action150 Action150
    li.c-sandbox-action120 Action120
    li.c-sandbox-action Action
    li.c-sandbox-action70 Action70
    li.c-sandbox-action50 Action50

  ul
    li.c-sandbox-base Base
    li.c-sandbox-base80 Base80

  ul
    li.c-sandbox-dark Dark
    li.c-sandbox-dark85 Dark85
    li.c-sandbox-dark70 Dark70
    li.c-sandbox-dark50 Dark50
    li.c-sandbox-dark20 Dark20

  ul
    li.c-sandbox-snow Snow
    li.c-sandbox-snow40 Snow40
    li.c-sandbox-snow00 Snow00

  ul
    li.c-sandbox-signal Signal
    li.c-sandbox-signal70 Signal70

  ul
    li.c-sandbox-blue Blue
    li.c-sandbox-blue85 Blue85

  ul
    li.c-sandbox-highlight Highlight
    li.c-sandbox-highlight45 Highlight45
