extends ./_layout

block body
  +header('Colors')

  .preview-colors
    ul
      li.preview-color-action150 Action150
      li.preview-color-action120 Action120
      li.preview-color-action Action
      li.preview-color-action70 Action70
      li.preview-color-action50 Action50

    ul
      li.preview-color-base Base
      li.preview-color-base80 Base80

    ul
      li.preview-color-dark Dark
      li.preview-color-dark95 Dark95
      li.preview-color-dark85 Dark85
      li.preview-color-dark70 Dark70
      li.preview-color-dark50 Dark50

    ul
      li.preview-color-dark20 Dark20
      li.preview-color-dark10 Dark10

    ul
      li.preview-color-snow Snow
      li.preview-color-snow40 Snow40
      li.preview-color-snow00 Snow00

    ul
      li.preview-color-signal Signal
      li.preview-color-signal70 Signal70

    ul
      li.preview-color-blue Blue
      li.preview-color-blue85 Blue85

    ul
      li.preview-color-highlight Highlight
      li.preview-color-highlight45 Highlight45
