extends ./_layout

block body
  +header('Copy')

  .preview-section
    h1 Headline large
    h2 Headline medium
    h3 Headline small
    h4 Headline smallest

  .preview-section
    ul
      li regular text

      li
        em italic text

      li
        strong bold text

      li
        a(href="#") link text

      li
        small small text

      li
        small
          a(href="#") small link text

      li
        span.ui-label label

      li
        span.ui-label.ui-label-primary primary label

      li
        span.ui-error ui-error message

      li
        span.ui-success ui-success message


      li
        span.ui-text-dark dark text

      li
        span.ui-text-light light text

      li
        span.ui-text-success success text

      li
        span.ui-text-error error text

  .preview-section
    h3 Example
    p.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
