extends ./_layout

block body
  +header('Icons')
  .preview-section.preview-icons
    ul
      li
        i.icon-arrow_down
        | icon-arrow_down
      li
        i.icon-arrow_left
        | icon-arrow_left
      li
        i.icon-arrow_right_thin
        | icon-arrow_right_thin
      li
        i.icon-arrow_right
        | icon-arrow_right
      li
        i.icon-arrow_up
        | icon-arrow_up
      li
        i.icon-article
        | icon-article
      li
        i.icon-at_sign
        | icon-at_sign
      li
        i.icon-barchart
        | icon-barchart
      li
        i.icon-bell
        | icon-bell
      li
        i.icon-bookmark
        | icon-bookmark
      li
        i.icon-bookmark_filled
        | icon-bookmark_filled
      li
        i.icon-buildings
        | icon-buildings
      li
        i.icon-buildings_plus
        | icon-buildings_plus
      li
        i.icon-business
        | icon-business
      li
        i.icon-calendar
        | icon-calendar
      li
        i.icon-camera_outline
        | icon-camera_outline
      li
        i.icon-camera
        | icon-camera
      li
        i.icon-cards
        | icon-cards
      li
        i.icon-cat
        | icon-cat
      li
        i.icon-chat
        | icon-chat
      li
        i.icon-checkmark
        | icon-checkmark
      li
        i.icon-circle_plus
        | icon-circle_plus
      li
        i.icon-clipboard
        | icon-clipboard
      li
        i.icon-code
        | icon-code
      li
        i.icon-connection
        | icon-connection
      li
        i.icon-cross
        | icon-cross
      li
        i.icon-crossed_coins
        | icon-crossed_coins
      li
        i.icon-crown
        | icon-crown
      li
        i.icon-dog
        | icon-dog
      li
        i.icon-dots
        | icon-dots
      li
        i.icon-download
        | icon-download
      li
        i.icon-exclamation
        | icon-exclamation
      li
        i.icon-external_link
        | icon-external_link
      li
        i.icon-eye_crossed
        | icon-eye_crossed
      li
        i.icon-eye
        | icon-eye
      li
        i.icon-facebook
        | icon-facebook
      li
        i.icon-funnel
        | icon-funnel
      li
        i.icon-gear
        | icon-gear
      li
        i.icon-globe
        | icon-globe
      li
        i.icon-heart_alternative
        | icon-heart_alternative
      li
        i.icon-heart_home
        | icon-heart_home
      li
        i.icon-heart
        | icon-heart
      li
        i.icon-holy_man
        | icon-holy_man
      li
        i.icon-home_circle
        | icon-home_circle
      li
        i.icon-hood
        | icon-hood
      li
        i.icon-house_badge
        | icon-house_badge
      li
        i.icon-house_pin
        | icon-house_pin
      li
        i.icon-house_solid
        | icon-house_solid
      li
        i.icon-house_tree
        | icon-house_tree
      li
        i.icon-house
        | icon-house
      li
        i.icon-i_alternative_filled
        | icon-i_alternative_filled
      li
        i.icon-i_alternative
        | icon-i_alternative
      li
        i.icon-i_circle
        | icon-i_circle
      li
        i.icon-i
        | icon-i
      li
        i.icon-kid_age_10
        | icon-kid_age_10
      li
        i.icon-kid_age_14
        | icon-kid_age_14
      li
        i.icon-kid_age_18
        | icon-kid_age_18
      li
        i.icon-kid_age_5
        | icon-kid_age_5
      li
        i.icon-land_heart
        | icon-land_heart
      li
        i.icon-letter
        | icon-letter
      li
        i.icon-list_sorting
        | icon-list_sorting
      li
        i.icon-list
        | icon-list
      li
        i.icon-list_filled
        | icon-list_filled
      li
        i.icon-lock
        | icon-lock
      li
        i.icon-login
        | icon-login
      li
        i.icon-logo_type_de_de
        | icon-logo_type_de_de
      li
        i.icon-logo_type_es_es
        | icon-logo_type_es_es
      li
        i.icon-logo_type_fr_fr
        | icon-logo_type_fr_fr
      li
        i.icon-logo_type_it_it
        | icon-logo_type_it_it
      li
        i.icon-logo
        | icon-logo
      li
        i.icon-logout
        | icon-logout
      li
        i.icon-magnifier
        | icon-magnifier
      li
        i.icon-map
        | icon-map
      li
        i.icon-market
        | icon-market
      li
        i.icon-modal
        | icon-modal
      li
        i.icon-neighbor
        | icon-neighbor
      li
        i.icon-page
        | icon-page
      li
        i.icon-paw
        | icon-paw
      li
        i.icon-pawn_plus
        | icon-pawn_plus
      li
        i.icon-pawn
        | icon-pawn
      li
        i.icon-pen
        | icon-pen
      li
        i.icon-people
        | icon-people
      li
        i.icon-phone
        | icon-phone
      li
        i.icon-pin
        | icon-pin
      li
        i.icon-pins
        | icon-pins
      li
        i.icon-pointer_right
        | icon-pointer_right
      li
        i.icon-plus
        | icon-plus
      li
        i.icon-question_mark
        | icon-page
      li
        i.icon-share
        | icon-share
      li
        i.icon-shield_circle
        | icon-shield_circle
      li
        i.icon-shield
        | icon-shield
      li
        i.icon-smiley_outline
        | icon-smiley_outline
      li
        i.icon-speech_active
        | icon-speech_active
      li
        i.icon-speech
        | icon-speech
      li
        i.icon-star_shield
        | icon-star_shield
      li
        i.icon-star
        | icon-star
      li
        i.icon-stop
        | icon-stop
      li
        i.icon-switch_account
        | icon-switch_account
      li
        i.icon-thumbsup
        | icon-thumbsup
      li
        i.icon-time
        | icon-time
      li
        i.icon-trash
        | icon-trash
      li
        i.icon-user_picture
        | icon-user_picture
      li
        i.icon-users
        | icon-users
      li
        i.icon-writing
        | icon-writing
      li
        i.icon-your_posts
        | icon-your_posts
      li
        i.icon-loudspeaker
        | icon-loudspeaker

