extends ./_layout

block body
  +header('Iconbox')
  .preview-section
    ul
      li
        span.ui-iconbox-info i
      li
        span.ui-iconbox-info.ui-iconbox-info-small i
      li
        span.ui-iconbox-info.ui-iconbox-info-mini i
      li
        span.ui-iconbox-label label
      li
        span.ui-iconbox-remove x
      li
        span.ui-iconbox-remove.ui-iconbox-remove-small x
      li
        span.ui-iconbox-warning !!!
      li
        i.ui-iconbox-mark-green
