extends ./_layout

block body
  +header('Iconbox')
  .preview-section
    ul
      li
        span.ui-iconbox-info
          i.icon-i
      li
        span.ui-iconbox-info.ui-iconbox-info-small
          i.icon-i
      li
        span.ui-iconbox-info.ui-iconbox-info-mini
          i.icon-i
      li
        span.ui-iconbox-label 24 März
      li
        span.ui-iconbox-remove
          i.icon-cross
      li
        span.ui-iconbox-remove.ui-iconbox-remove-small
          i.icon-cross
      li
        span.ui-iconbox-warning !!!
      li
        i.ui-iconbox-mark-green
