extends ./_layout

block body
  +header('Iconbox')
  .preview-section
    ul
      li
        span.ui-iconbox-info.icon-i
      li
        span.ui-iconbox-info.ui-iconbox-info-small.icon-i
      li
        span.ui-iconbox-info.ui-iconbox-info-mini.icon-i

    ul
      li
        span.ui-iconbox-label 24 März
      li
        span.ui-iconbox-label.ui-iconbox-label-large 24 März

    ul
      li
        span.ui-iconbox-remove
          i.icon-cross
      li
        span.ui-iconbox-remove.ui-iconbox-remove-small
          i.icon-cross

    ul
      li
        i.ui-iconbox-warning.icon-stop
      li
        i.ui-iconbox-mark-green
