extends ./_layout

block body
  +header('Icons')
  .preview-section.preview-icons
    ul
      li: i.icon-arrow_down
      li: i.icon-arrow_left
      li: i.icon-arrow_right_thin
      li: i.icon-arrow_right
      li: i.icon-arrow_up
      li: i.icon-article
      li: i.icon-at_sign
      li: i.icon-barchart
      li: i.icon-bell
      li: i.icon-bookmark
      li: i.icon-business
      li: i.icon-calendar
      li: i.icon-camera_outline
      li: i.icon-camera
      li: i.icon-cards
      li: i.icon-cat
      li: i.icon-chat
      li: i.icon-checkmark
      li: i.icon-circle_plus
      li: i.icon-clipboard
      li: i.icon-code
      li: i.icon-connection
      li: i.icon-cross
      li: i.icon-crossed_coins
      li: i.icon-crown
      li: i.icon-dog
      li: i.icon-dots
      li: i.icon-download
      li: i.icon-exclamation
      li: i.icon-external_link
      li: i.icon-eye_crossed
      li: i.icon-eye
      li: i.icon-facebook
      li: i.icon-funnel
      li: i.icon-gear
      li: i.icon-globe
      li: i.icon-heart_alternative
      li: i.icon-heart_home
      li: i.icon-heart
      li: i.icon-holy_man
      li: i.icon-hood
      li: i.icon-house_badge
      li: i.icon-house_pin
      li: i.icon-house_solid
      li: i.icon-house_tree
      li: i.icon-house
      li: i.icon-i_alternative
      li: i.icon-i_circle
      li: i.icon-i
      li: i.icon-kid_age_10
      li: i.icon-kid_age_14
      li: i.icon-kid_age_18
      li: i.icon-kid_age_5
      li: i.icon-land_heart
      li: i.icon-letter
      li: i.icon-list_sorting
      li: i.icon-list
      li: i.icon-lock
      li: i.icon-login
      li: i.icon-logo_type_de_de
      li: i.icon-logo_type_es_es
      li: i.icon-logo_type_fr_fr
      li: i.icon-logo_type_it_it
      li: i.icon-logo
      li: i.icon-logout
      li: i.icon-magnifier
      li: i.icon-map
      li: i.icon-market
      li: i.icon-modal
      li: i.icon-neighbor
      li: i.icon-page
      li: i.icon-paw
      li: i.icon-pawn_plus
      li: i.icon-pawn
      li: i.icon-pen
      li: i.icon-people
      li: i.icon-phone
      li: i.icon-pin
      li: i.icon-pins
      li: i.icon-pointer_right
      li: i.icon-share
      li: i.icon-shield_circle
      li: i.icon-shield
      li: i.icon-smiley_outline
      li: i.icon-speech_active
      li: i.icon-speech
      li: i.icon-star_shield
      li: i.icon-star
      li: i.icon-stop
      li: i.icon-switch_account
      li: i.icon-thumbsup
      li: i.icon-time
      li: i.icon-trash
      li: i.icon-user_picture
      li: i.icon-users
      li: i.icon-writing
