extends ./_layout

block body
  +header('Inputs')

  .preview-inputs
    ul
      li
        input.ui-input(value="Input test", placeholder="Placeholder test")
      li
        span.ui-input Span test
      li
        textarea.ui-input(rows="1") Textarea test

    ul
      li
        label
          strong.ui-label label
          input.ui-input(value="Input test", placeholder="Placeholder test")
      li
        label
          strong.ui-label label
          span.ui-input Span test
      li
        label
          strong.ui-label label
          textarea.ui-input(rows="1") Textarea test

    ul
      li
        label
          strong.ui-label.ui-label-primary primary label
          input.ui-input(value="Input test", placeholder="Placeholder test")
      li
        label
          strong.ui-label.ui-label-primary primary label
          span.ui-input Span test
      li
        label
          strong.ui-label.ui-label-primary primary label
          textarea.ui-input(rows="1") Textarea test


    ul
      li
        input.ui-input.ui-input-error(value="Input test")
        span.ui-error Error!
      li
        span.ui-input.ui-input-error Span test
        span.ui-error Error!
      li
        textarea.ui-input.ui-input-error(rows="1") Textarea test
        span.ui-error Error!
