extends ./_layout

block body
  +header('Misc')

  .preview-section
    p
      span.ui-badge.ui-badge-primary 99

    p
      span.ui-badge.ui-badge-secondary 9999

    p
      span.ui-badge.ui-badge-primary.ui-badge-rect Sofort
      span.ui-badge.ui-badge-secondary.ui-badge-rect bring hier
      span.ui-badge.ui-badge-signal.ui-badge-rect lekeres Essen
      span.ui-badge.ui-badge-disabled.ui-badge-rect und
      span.ui-badge.ui-badge-blue.ui-badge-rect was zu trinken!

  .preview-section
    span.ui-eyecatcher.ui-eyecatcher-primary Eyecatcher regular?
    span.ui-eyecatcher.ui-eyecatcher-danger.ui-eyecatcher-reverse Eyecatcher reverse danger!

  .preview-push
    ul.ui-options
      li UI
      li Options
      li: span.ui-link with link
      li: span.ui-label and label
      li: span.ui-label.ui-label-primary and more label!

      li.is-selected seleted
      li.is-selected
        span.ui-link with link
      li.is-selected
        span.ui-label and label
      li.is-selected
        span.ui-label.ui-label-primary and more label

  .preview-push
    article.ui-card
      header.ui-card-section
        h1
          | Iconbox Info
          span.ui-iconbox-info
            i.icon-i

      .ui-card-section
        p.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        .ui-section Extra section

      .ui-card-section
        ul.ui-section_list
          li UI
          li Section
          li List

      .ui-card-section
        .ui-hint
          strong HINT:&nbsp;
          | You can have&nbsp;
          em hints
          | !

      footer.ui-card-section.ui-controls
        span.ui-button.ui-button-primary UI
        span.ui-link Controls
