extends ./_layout

block body
  +header('Shadows')

  .preview-shadows
    ul
      li.is-shadow-bottom-default bottom-default
      li.is-shadow-bottom-raised bottom-raised
    ul
      li.is-shadow-top-default top-default
      li.is-shadow-top-raised top-raised
