@import '../styles';

html {
  background: $color-gray-07;
}

main {
  margin: 10px;

  @media ($media-m) {
    margin: 30px 100px;
  }
}

.preview-header {
  > a {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    font-weight: $font-weight-l;
    line-height: 26px;
  }

  > h2 {
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
  }
}

.preview-section {
  margin-top: 30px;

  ul {
    overflow: hidden;

    li {
      margin-top: 10px;
      display: block;

      @media ($media-m) {
        width: 33%;
        float: left;
      }
    }
  }
}

.preview-push {
  margin-top: 30px;
}

.preview-inputs {
  margin-top: 30px;

  ul {
    overflow: hidden;

    li {
      margin-top: 10px;
      padding: 10px;
      display: block;

      @media ($media-m) {
        width: 33%;
        float: left;
      }
    }
  }
}

.preview-colors {
  margin-top: 30px;

  ul {
    display: flex;
  }

  li {
    height: 40px;
    padding: 10px;
    flex-grow: 1;
  }

  li.is-color-gray-00 {
    background-color: $color-gray-00;
  }

  li.is-color-gray-01 {
    background-color: $color-gray-01;
  }

  li.is-color-gray-02 {
    background-color: $color-gray-02;
  }

  li.is-color-gray-03 {
    background-color: $color-gray-03;
  }

  li.is-color-gray-04 {
    background-color: $color-gray-04;
  }

  li.is-color-gray-05 {
    background-color: $color-gray-05;
  }

  li.is-color-gray-06 {
    background-color: $color-gray-06;
  }

  li.is-color-gray-07 {
    background-color: $color-gray-07;
  }

  li.is-color-gray-08 {
    background-color: $color-gray-08;
  }

  li.is-color-gray-09 {
    background-color: $color-gray-09;
  }

  li.is-color-green-00 {
    background-color: $color-green-00;
  }

  li.is-color-green-01 {
    background-color: $color-green-01;
  }

  li.is-color-green-02 {
    background-color: $color-green-02;
  }

  li.is-color-green-03 {
    background-color: $color-green-03;
  }

  li.is-color-green-04 {
    background-color: $color-green-04;
  }

  li.is-color-green-05 {
    background-color: $color-green-05;
  }

  li.is-color-green-06 {
    background-color: $color-green-06;
  }

  li.is-color-blue-00 {
    background-color: $color-blue-00;
  }

  li.is-color-blue-01 {
    background-color: $color-blue-01;
  }

  li.is-color-blue-02 {
    background-color: $color-blue-02;
  }

  li.is-color-blue-03 {
    background-color: $color-blue-03;
  }

  li.is-color-base-00 {
    background-color: $color-base-00;
  }

  li.is-color-base-01 {
    background-color: $color-base-01;
  }

  li.is-color-base-02 {
    background-color: $color-base-02;
  }

  li.is-color-base-03 {
    background-color: $color-base-03;
  }

  li.is-color-base-04 {
    background-color: $color-base-04;
  }

  li.is-color-orange-00 {
    background-color: $color-orange-00;
  }

  li.is-color-orange-01 {
    background-color: $color-orange-01;
  }

  li.is-color-orange-02 {
    background-color: $color-orange-02;
  }

  li.is-color-orange-03 {
    background-color: $color-orange-03;
  }

  li.is-color-orange-04 {
    background-color: $color-orange-04;
  }

  li.is-color-yellow-00 {
    background-color: $color-yellow-00;
  }

  li.is-color-yellow-01 {
    background-color: $color-yellow-01;
  }

  li.is-color-yellow-02 {
    background-color: $color-yellow-02;
  }

  li.is-color-yellow-03 {
    background-color: $color-yellow-03;
  }

  li.is-color-red-00 {
    background-color: $color-red-00;
  }

  li.is-color-red-01 {
    background-color: $color-red-01;
  }

  li.is-color-red-02 {
    background-color: $color-red-02;
  }

  li.is-color-red-03 {
    background-color: $color-red-03;
  }

  li.is-color-purple-00 {
    background-color: $color-purple-00;
  }

  li.is-color-white-alpha {
    background-color: $color-white-alpha;
  }

  li.is-color-dark-alpha {
    background-color: $color-dark-alpha;
  }

  li.is-color-transparent {
    background-color: $color-transparent;
  }
}

.preview-shadows {
  ul {
    display: flex;
  }

  li {
    height: 100px;
    margin: 20px;
    padding: 10px;
    flex-grow: 1;
    background: $color-gray-09;
  }

  li.is-shadow-bottom-default {
    box-shadow: $shadow-bottom-default;
  }

  li.is-shadow-bottom-raised {
    box-shadow: $shadow-bottom-raised;
  }

  li.is-shadow-top-default {
    box-shadow: $shadow-top-default;
  }

  li.is-shadow-top-raised {
    box-shadow: $shadow-top-raised;
  }
}
