@import '../styles';

@mixin _text-contrast($clr) {
  $color-brightness: round((red($clr) * 299) + (green($clr) * 587) + (blue($clr) * 114) / 1000);
  $light-color: round((red(#fff) * 299) + (green(#fff) * 587) + (blue(#fff) * 114) / 1000);
  $alpha: alpha($clr);

  @if abs($color-brightness) < ($light-color / 2) and $alpha > .5 {
    color: #fff;
  } @else {
    color: #000;
  }
}

@mixin _test-color($color) {
  @include _text-contrast($color);
  background-color: $color;
}

html {
  background: $color-gray-07;
}

main {
  margin: 10px;

  @media ($media-m) {
    margin: 30px 100px;
  }
}

.preview-header {
  > a {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    font-weight: $font-weight-l;
    line-height: 26px;
  }

  > h2 {
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
  }
}

.preview-section {
  margin-top: 30px;

  ul {
    margin-top: 30px;

    @media ($media-m) {
      display: flex;
      flex-flow: row wrap;
    }

    li {
      margin-top: 10px;
      display: block;

      @media ($media-m) {
        width: 50%;
      }
    }
  }
}

.preview-push {
  margin-top: 30px;
}

.preview-inputs {
  margin-top: 30px;

  ul {
    @media ($media-m) {
      display: flex;
      flex-flow: row wrap;
    }

    li {
      margin-top: 10px;
      padding: 10px;
      display: block;

      @media ($media-m) {
        width: 33%;
      }
    }
  }
}

.preview-colors {
  margin-top: 30px;

  ul {
    display: flex;
  }

  li {
    height: 40px;
    padding: 10px;
    flex-grow: 1;
  }

  li.is-color-gray-00 {
    @include _test-color($color-gray-00);
  }

  li.is-color-gray-01 {
    @include _test-color($color-gray-01);
  }

  li.is-color-gray-02 {
    @include _test-color($color-gray-02);
  }

  li.is-color-gray-03 {
    @include _test-color($color-gray-03);
  }

  li.is-color-gray-04 {
    @include _test-color($color-gray-04);
  }

  li.is-color-gray-05 {
    @include _test-color($color-gray-05);
  }

  li.is-color-gray-06 {
    @include _test-color($color-gray-06);
  }

  li.is-color-gray-07 {
    @include _test-color($color-gray-07);
  }

  li.is-color-gray-08 {
    @include _test-color($color-gray-08);
  }

  li.is-color-gray-09 {
    @include _test-color($color-gray-09);
  }

  li.is-color-green-00 {
    @include _test-color($color-green-00);
  }

  li.is-color-green-01 {
    @include _test-color($color-green-01);
  }

  li.is-color-green-02 {
    @include _test-color($color-green-02);
  }

  li.is-color-green-03 {
    @include _test-color($color-green-03);
  }

  li.is-color-green-04 {
    @include _test-color($color-green-04);
  }

  li.is-color-green-05 {
    @include _test-color($color-green-05);
  }

  li.is-color-green-06 {
    @include _test-color($color-green-06);
  }

  li.is-color-blue-00 {
    @include _test-color($color-blue-00);
  }

  li.is-color-blue-01 {
    @include _test-color($color-blue-01);
  }

  li.is-color-blue-02 {
    @include _test-color($color-blue-02);
  }

  li.is-color-blue-03 {
    @include _test-color($color-blue-03);
  }

  li.is-color-base-00 {
    @include _test-color($color-base-00);
  }

  li.is-color-base-01 {
    @include _test-color($color-base-01);
  }

  li.is-color-base-02 {
    @include _test-color($color-base-02);
  }

  li.is-color-base-03 {
    @include _test-color($color-base-03);
  }

  li.is-color-base-04 {
    @include _test-color($color-base-04);
  }

  li.is-color-orange-00 {
    @include _test-color($color-orange-00);
  }

  li.is-color-orange-01 {
    @include _test-color($color-orange-01);
  }

  li.is-color-orange-02 {
    @include _test-color($color-orange-02);
  }

  li.is-color-orange-03 {
    @include _test-color($color-orange-03);
  }

  li.is-color-orange-04 {
    @include _test-color($color-orange-04);
  }

  li.is-color-yellow-00 {
    @include _test-color($color-yellow-00);
  }

  li.is-color-yellow-01 {
    @include _test-color($color-yellow-01);
  }

  li.is-color-yellow-02 {
    @include _test-color($color-yellow-02);
  }

  li.is-color-yellow-03 {
    @include _test-color($color-yellow-03);
  }

  li.is-color-red-00 {
    @include _test-color($color-red-00);
  }

  li.is-color-red-01 {
    @include _test-color($color-red-01);
  }

  li.is-color-red-02 {
    @include _test-color($color-red-02);
  }

  li.is-color-red-03 {
    @include _test-color($color-red-03);
  }

  li.is-color-purple-00 {
    @include _test-color($color-purple-00);
  }

  li.is-color-white-alpha {
    @include _test-color($color-white-alpha);
  }

  li.is-color-dark-alpha {
    @include _test-color($color-dark-alpha);
  }

  li.is-color-transparent {
    @include _test-color($color-transparent);
  }
}

.preview-shadows {
  ul {
    display: flex;
  }

  li {
    height: 100px;
    margin: 20px;
    padding: 10px;
    flex-grow: 1;
    background: $color-gray-09;
    border-radius: $border-radius-m;
  }

  li.is-shadow-bottom-default {
    box-shadow: $shadow-bottom-default;
  }

  li.is-shadow-bottom-raised {
    box-shadow: $shadow-bottom-raised;
  }

  li.is-shadow-top-default {
    box-shadow: $shadow-top-default;
  }

  li.is-shadow-top-raised {
    box-shadow: $shadow-top-raised;
  }
}

.preview-icons {
  i {
    @include icon-size(20px);
    background: $color-purple-00;
    color: $color-gray-09;
  }
}
