extends ./_layout

block body
  h2 Tags

  div.preview-section
    ul
      li
        button.ui-tag.ui-tag-primary <button>
      li
        span.ui-tag.ui-tag-primary <span>
      li
        span.ui-tag.ui-tag-primary.ui-tag-removable removable x
      li
        button.ui-tag.ui-tag-primary.ui-tag-small <button>
      li
        span.ui-tag.ui-tag-primary.ui-tag-small <span>

  div.preview-section
    ul
      li
        button.ui-tag.ui-tag-secondary <button>
      li
        span.ui-tag.ui-tag-secondary <span>
      li
        span.ui-tag.ui-tag-secondary.ui-tag-removable removable x
      li
        button.ui-tag.ui-tag-secondary.ui-tag-small <button>
      li
        span.ui-tag.ui-tag-secondary.ui-tag-small <span>

  div.preview-section
    ul
      li
        button.ui-tag.ui-tag-tertiary <button>
      li
        span.ui-tag.ui-tag-tertiary <span>
      li
        span.ui-tag.ui-tag-tertiary.ui-tag-removable removable x
      li
        button.ui-tag.ui-tag-tertiary.ui-tag-small <button>
      li
        span.ui-tag.ui-tag-tertiary.ui-tag-small <span>

  div.preview-section
    ul
      li
        button.ui-tag.ui-tag-primary(disabled) <button>
      li
        span.ui-tag.ui-tag-primary.is-disabled <span>
      li
        span.ui-tag.ui-tag-primary.ui-tag-removable.is-disabled removable x
      li
        button.ui-tag.ui-tag-primary.ui-tag-small(disabled) <button>
      li
        span.ui-tag.ui-tag-primary.ui-tag-small.is-disabled <span>
