extends ./_layout

block body
  +header('Tags')

  .preview-section
    h2 Tag colors

    ul
      li
        span.ui-tag.ui-tag-primary primary
      li
        span.ui-tag.ui-tag-secondary secondary
      li
        span.ui-tag.ui-tag-primary.is-disabled disabled

  .preview-section
    h2 Tag sizes/styles

    ul
      li
        span.ui-tag.ui-tag-primary default
      li
        span.ui-tag.ui-tag-primary.ui-tag-removable removable
          i.icon-cross

  .preview-section
    h2 Elements test

    ul
      li
        button.ui-tag.ui-tag-primary &lt;button&gt;
      li
        span.ui-tag.ui-tag-primary &lt;span&gt;
      li
        a(href="javascript:void(0);").ui-tag.ui-tag-primary &lt;a&gt;
