$color-grey-00: #393939;
$color-grey-01: #575757;
$color-grey-02: #757575;
$color-grey-03: #9c9c9c;
$color-grey-04: #bbb;
$color-grey-05: #d7d7d7;
$color-grey-06: #e1e1de;
$color-grey-07: #edede9;
$color-grey-08: #f8f8f6;
$color-grey-09: #fff;

$color-green-00: #93a70a;
$color-green-01: #a0b605;
$color-green-02: #b2ca06;
$color-green-03: #c1d538;
$color-green-04: #e7efb4;
$color-green-05: #f0f4cd;
$color-green-06: #f7f9e6;

$color-blue-00: #007381;
$color-blue-01: #0090a1;
$color-blue-02: #cce9ec;
$color-blue-03: #e5f3f5;

$color-base-00: #61746e;
$color-base-01: #799189;
$color-base-02: #c9d3d0;
$color-base-03: #e4e9e7;
$color-base-04: #f1f4f3;

$color-orange-00: #be7e24;
$color-orange-01: #ee9e2d;
$color-orange-02: #f1b157;
$color-orange-03: #fcecd5;
$color-orange-04: #fdf5ea;

$color-yellow-00: #b6a208;
$color-yellow-01: #e3ca0a;
$color-yellow-02: #f9f4ce;
$color-yellow-03: #fcf9e6;

$color-red-00: #bc4b51;
$color-red-01: #eb5e65;
$color-red-02: #fbdfe0;
$color-red-03: #fdeeef;

$color-purple-00: #854a95;
