$color-gray-00: #393939;
$color-gray-01: #575757;
$color-gray-02: #757575;
$color-gray-03: #9c9c9c;
$color-gray-04: #bbb;
$color-gray-05: #d7d7d7;
$color-gray-06: #e1e1de;
$color-gray-07: #edede9;
$color-gray-08: #f8f8f6;
$color-gray-09: #fff;
$color-knallgreen-120: #93a70a;
$color-knallgreen-110: #a0b605;
$color-knallgreen-100: #b2ca06;
$color-knallgreen-80: #c1d538;
$color-knallgreen-40: #e0ea9b;
$color-knallgreen-30: #e7efb4;
$color-knallgreen-20: #f0f4cd;
$color-knallgreen-10: #f7f9e6;
$color-blue-00: #007381;
$color-blue-01: #0090a1;
$color-blue-02: #cce9ec;
$color-blue-03: #e5f3f5;
$color-balkonmus-120: #61746e;
$color-balkonmus-100: #799189;
$color-balkonmus-80: #94a7a1;
$color-balkonmus-40: #c9d3d0;
$color-balkonmus-20: #e4e9e7;
$color-balkonmus-10: #f1f4f3;
$color-orange-00: #be7e24;
$color-orange-01: #ee9e2d;
$color-orange-02: #f1b157;
$color-orange-03: #fcecd5;
$color-orange-04: #fdf5ea;
$color-yellow-00: #b6a208;
$color-yellow-01: #e3ca0a;
$color-yellow-02: #f9f4ce;
$color-yellow-03: #fcf9e6;
$color-red-00: #bc4b51;
$color-red-01: #eb5e65;
$color-red-02: #fbdfe0;
$color-red-03: #fef7f7;
$color-purple-00: #854a95;
$color-white-alpha: rgb(255 255 255 / 70%);
$color-dark-alpha: rgb(0 0 0 / 70%);
$color-transparent: rgb(0 0 0 / 0%);

// "base" is balkonmus color but is missing a value
$color-base-00: $color-balkonmus-120;
$color-base-01: $color-balkonmus-100;
$color-base-02: $color-balkonmus-40;
$color-base-03: $color-balkonmus-20;
$color-base-04: $color-balkonmus-10;

// "green" is knallgreen color but is missing a value
$color-green-00: $color-knallgreen-120;
$color-green-01: $color-knallgreen-110;
$color-green-02: $color-knallgreen-100;
$color-green-03: $color-knallgreen-80;
$color-green-04: $color-knallgreen-30;
$color-green-05: $color-knallgreen-20;
$color-green-06: $color-knallgreen-10;
