$font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;

$font-weight-m: 400;
$font-weight-l: 600;

$font-size-s: 85%;
$font-size-m: 14px;

$line-height-s: 16px;
$line-height-m: 20px;

$heading-size-1: 25px;
$heading-size-2: 20px;
$heading-size-3: 17px;
$heading-size-4: 16px;

$heading-weight-1: $font-weight-m;
$heading-weight-2: $font-weight-m;
$heading-weight-3: $font-weight-l;
$heading-weight-4: $font-weight-l;

$link-weight: $font-weight-l;

$text-default-size: $font-size-m;
$text-default-weight: $font-weight-m;

$text-detail-1-size: 12px;
$text-detail-1-weight: $font-weight-l;

$text-detail-2-size: 10px;
$text-detail-2-weight: $font-weight-l;
