$layout-content-width: 600px;
$layout-menu-width: 280px;
$layout-menu-height: 50px;
$layout-spacing: 15px;

$layout-sidebar-width: calc($layout-menu-width + ($layout-spacing * 2));
$layout-width: calc($layout-content-width + $layout-sidebar-width);

$layout-width-m: 660px;
$layout-width-l: 1280px;
