@custom-media --media-xs (min-width: 375px);
@custom-media --media-s (min-width: 450px);
@custom-media --media-m (min-width: 690px);
@custom-media --media-l (min-width: 920px);

$media-xs: "min-width: 375px";
$media-s: "min-width: 450px";
$media-m: "min-width: 690px";
$media-l: "min-width: 920px";
