$shadow-bottom-default: 0 2px 4px rgba(0, 0, 0, .2);
$shadow-bottom-raised: 0 2px 8px 2px rgba(0, 0, 0, .2);

$shadow-top-default: 0 -2px 4px rgba(0, 0, 0, .15);
$shadow-top-raised: 0 -2px 8px rgba(0, 0, 0, .15);
