// Offsets
$offset-space: .33em;

// Image Ratios
$ratio-widescreen: 56.25%;

// Components - thumbnail
$thumbnail-xs: 20px;
$thumbnail-s: 40px;
$thumbnail-m: 60px;
$thumbnail-l: 160px;
$thumbnail-xl: 250px;
