$uiButtonHeight = 40px
$uiButtonSmallHeight = 28px

// Default button styles
.ui-button
  min-width: 100px
  height: $uiButtonHeight

  padding: 0 30px
  display: inline-block

  font-size: $fontSizeM
  font-weight: $fontWeightL
  line-height: @height
  text-transform: uppercase
  text-decoration: none
  text-align: center

  border: 1px solid
  border-radius: $borderRadiusM

  user-select: none
  cursor: pointer
  touch-action: manipulation
  touch-callout: none
  pointer-events: auto

  a&
    color: inherit

// Sizes
.ui-button-small
  min-width: 80px
  height: $uiButtonSmallHeight

  padding: 0 20px

  font-size: 12px
  line-height: @height
  text-transform: none

  border-radius: $borderRadiusS

// Styles
.ui-button-wide
  width: 100%

.ui-button-round
  border-radius: ($uiButtonHeight / 2)

  &.ui-button-small
    border-radius: ($uiButtonSmallHeight / 2)

.ui-button-icon i
  margin-left: 8px

// Colors
.ui-button-primary
  background: $colorAction
  border-color: $colorAction
  color: $colorSnow00
  a&
    color: $colorSnow00

  &:hover,
  &:active,
  &.is-active
    background: $colorAction70
    border-color: $colorAction70

.ui-button-secondary
  background: $colorSnow40
  border-color: $colorDark20
  color: $colorDark70

  a&
    color: $colorDark70

  &:hover,
  &:active,
  &.is-active
    background: $colorBase
    border-color: $colorBase
    color: $colorSnow00

.ui-button-danger
  background: $colorSignal
  border-color: $colorSignal
  color: $colorSnow00
  a&
    color: $colorSnow00

  &:hover,
  &:active,
  &.is-active
    background: $colorSignal70
    border-color: $colorSignal70

// At the bottom - overrides defaults
.ui-button[disabled],
.ui-button.is-disabled
  background: $colorDark20
  border-color: $colorDark20

  color: $colorSnow00
  cursor: default

  a&
    color: $colorSnow00

  &:hover,
  &:active,
  &.is-active
    background: $colorDark20
    border-color: $colorDark20
