.ui-card
  max-width: $layoutWidthM
  display: block
  background: $colorSnow00
  box-shadow: $shadowS
  border-radius: $borderRadiusM

.ui-card-section
  padding: 15px
  display: block
  border-top: $borderDark

  &:first-child
    border-top: none
    border-radius: $borderRadiusM $borderRadiusM 0 0
  &:last-child
    border-radius: 0 0 $borderRadiusM $borderRadiusM

.ui-card-gray
  background: $colorSnow40

.ui-card-dark
  background: $colorBase
  color: $colorSnow00

  h1,
  h2,
  h3
    color: inherit
  a,
  .ui-link
    color: inherit
    text-decoration: underline
