.ui-media
  clearfix()

  > .ui-media-image
    width: $thumbnailM
    height: @width
    display: block
    float: left

  > .ui-media-content
    margin-left: $thumbnailM + 10px
    display: block

.ui-media-small
  > .ui-media-image
    width: $thumbnailS
    height: @width

  > .ui-media-content
    margin-left: $thumbnailS + 10px

.ui-media-mini
  > .ui-media-image
    width: $thumbnailXS
    height: @width

  > .ui-media-content
    margin-left: $thumbnailXS + 10px
