.ui-options
  overflow: hidden

  li
    padding: 10px 15px
    border-top: $borderDark
    cursor: pointer

    &:first-child
      border-top: none

    &.is-selected
      background: $colorBase
      color: $colorSnow00

      a,
      .ui-link,
      .ui-label,
      .ui-label-primary
        color: inherit
        font-weight: inherit
        font-size: inherit
