.ui-panel
  padding: 10px
  display: block
  border: 1px solid
  border-radius: $borderRadiusM

.ui-panel-primary
  background: $colorHighlight
  border-color: $colorAction120
  color: $colorDark85

.ui-panel-secondary
  background: $colorBase
  border-color: $colorBase
  color: $colorSnow00

.ui-panel-danger
  background: $colorSignal70
  border-color: $colorSignal
  color: $colorDark85
